html, body{
    height: 100%;
}
header{
    padding: 64px 0;
}
body{
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
header a{
    font-size: 32px;
    text-decoration: none;
    color: black;
    &::before{
        content: '<';
        margin: 0 16px  0 ;
    }
}
section{
    width: 40%;
}
form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.checkbox{
    margin-left: 40px;
}
    .pers{
    margin-top: -36px;
    margin-left: 300px;
}

